<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <title>Document</title>
    <style>
      .head-container {
        background-color: #f7f7f7;
      }
    </style>
  </head>
  <body>
  
  
      <div class="head-container container-fluid">
        <div class="row container m-auto flex-lg-row flex-column-reverse">
          <div class="bg-info col-lg-6 col-md-12 col-sm-12 col-xs-12 p-5">
            <h1 class="text-center p-5">Our Journey</h1>
              <p>{{ section.settings.title }}</p>
          </div>
          <div class="bg-primary col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img src="{{ section.settings.image | img_url: 'large' }}">
          </div>
        </div>
      </div>
  
  

  </body>
</html>



{% schema %}
  {
    "name": "custom about us",
    "settings": [
      {
      "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1500 x 800px .jpg recommende d"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Your story"
      }
    ],
    "presets": [
      {
        "category": "Image",
        "name": "custom about us",
        "settings": {}
      }
    ]
  }
{% endschema %}